html {
    height: 100%;
    width: 100%;
  }
  
  .card {
    margin: 5px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  #l_tag{
    border-radius: 100px;
  }
  .btn-copy {
    float: right;
    top: 0%;
    margin: 0px;
    bottom: 0%;
    height: 26px;
    background-color: #4b91a0;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
  
  }
  
  .pass {
    margin: 0px;
    padding: 0px;
  }
  
  .btn-copy:focus {
    border: none;
    outline: none;
  }
  
  .card-body {
    background-color: #fcfcfc;
    border-radius: 10px;
  }
  
  .card {
    transform:  scale(1.01);
  }
  
  .row {
    height: 100%;
  }
  
  .pass-shower {
    margin-top: 20px;
    padding: 8px;
    border-radius: 3px;
    background-color: #f5f5f5;
    text-align: center;
  }